@page "/formulario9"

@inherits SelectListBase


<div class="alert alert-success" role="alert">
    Gestión Cuantitativa de Proyectos
    <br />
    <b>Categoría: Gestión de Proyectos</b>
</div>


<div class="form-group">
    <label></label>

    @if (list != null)
    {


<EditForm Model="@list">

    <label>°¿Se establecen y mantienen los objetivos de desarrollo y calidad del proyecto?</label>
    <InputSelect @bind-Value="selectValu1">
        <option value="0">Seleccione uno</option>
        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
        <br />
    </InputSelect>

    <label>°¿Se seleccionan los subprocesos que componen la definición de un proceso basado en estabilidad histórica y datos de capacidad del proyecto?</label>
    <InputSelect @bind-Value="selectValu2">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}

        <br />
    </InputSelect>


    <label>°¿Se seleccionan los subprocesos del proyecto que serán estaticamente administrados?</label>
    <InputSelect @bind-Value="selectValu3">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->
    <label>°¿Se monitoriza el proyecto para determinar si los objetivos para calidad y proceso de desarrollo del proyecto serán satisfechos y se identifica una acción correctiva como apropiada?</label>
    <InputSelect @bind-Value="selectValu4">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->
    <label>°¿Se seleccionan las medidas y técnicas analíticas para ser usadas en la administración estadisticamente de los subprocesos seleccionados?</label>
    <InputSelect @bind-Value="selectValu5">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->

    <label>°¿Se establece y mantiene una comprensión de la variación de los subprocesos seleccionados usando las medidas seleccionadas y técnicas analíticas?</label>
    <InputSelect @bind-Value="selectValu6">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->

    <label>°¿Se monitoriza el desarrollo de los subprocesos seleccionados para determinar su capacidad para satisfacer su calidad y objetivos del proceso, y se identifica una acción correctiva como necesaria?</label>
    <InputSelect @bind-Value="selectValu7">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->

    <label>°¿Se graban los datos administrados en calidad y estadística en el repositorio de medidas de la organización?</label>
    <InputSelect @bind-Value="selectValu8">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->

    <label>°¿Se establece y mantiene la descripción de un proceso de desarrollo de la organización definido?</label>
    <InputSelect @bind-Value="selectValu9">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->

    <label>°¿Se establece y mantiene el plan para el desarrollo del proceso de la organización?</label>
    <InputSelect @bind-Value="selectValu10">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->

    <label>°¿Se proporcionan recursos adecuados para el desarrollo del proceso de la organización,desarrollando los productos de trabajo y proporcionando los servicios del proceso?</label>
    <InputSelect @bind-Value="selectValu11">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->

    <label>°¿Se asignan responsabilidad y autoridad para el desarrollo del proceso, desarrollando los productos de trabajo y proporcionando los procesos de desarrollo de la organización?</label>
    <InputSelect @bind-Value="selectValu12">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->


    <label>°¿Se entrena a las personas desarrollando o apoyando el proceso de Gestión cuantitativa de proyectos como es necesario?</label>
    <InputSelect @bind-Value="selectValu13">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->


    <label>°¿Se localizan los productos de trabajo designados del proceso de Gestión cuantitativa de proyectos bajo los niveles apropiados de administración de configuración?</label>
    <InputSelect @bind-Value="selectValu14">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->


    <label>°¿Se identifican e involucran los recurso importantes del proceso de Gestión cuantitativa de proyectos como algo planificado?</label>
    <InputSelect @bind-Value="selectValu15">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->



    <label>°¿Se monitoriza y controla el desarrollo de proceso de la organización en contra del plan para el desarrollo de Gestión cuantitativa de proyectos y se toma la acción correctiva adecuada?</label>
    <InputSelect @bind-Value="selectValu16">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->


    <label>°¿Se recolectan los productos de trabajo, medidas, resultados de medida, y mejora de la información derivada desde el planing y desarrollo de la Gestión cuantitativa de proyectos para apoyar el uso futuro y mejora de los procesos y resultado de la organización?</label>
    <InputSelect @bind-Value="selectValu17">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->



    <label>°¿Se evalúan objetivamente el proceso de desarrollo de la organización en contra de su descripción de proceso, estándares, y métodos, e incumplimiento de direcciones?</label>
    <InputSelect @bind-Value="selectValu17">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->



    <label>°¿Se revisan las actividades, estados y resultados del proceso de desarrollo de la organización con una administración a mas alto nivel y resolución de temas?</label>
    <InputSelect @bind-Value="selectValu18">

        @foreach (var n in list)
            {
<option value="@n.Id"> @n.Description</option>}
    </InputSelect>
    <br />
    <!-- preguntaaaa-->








</EditForm>


                <NavLink class="nav-link color-button" @onclick="IncrementCount" href="@($"/graphcp/{total}/{nunca}/{cn}/{av}/{cs}/{s}/{numcuestion}")"> <span class="oi oi-pencil" aria-hidden="true"></span> SIGUIENTE </NavLink> 
                }


                            else
                            {
                <h1>No tiene </h1>}

</div>

@code { public string selectValu1 { get; set; } = "1";
    public string selectValu2 { get; set; } = "1";
    public string selectValu3 { get; set; } = "1";
    public string selectValu4 { get; set; } = "1";
    public string selectValu5 { get; set; } = "1";
    public string selectValu6 { get; set; } = "1";
    public string selectValu7 { get; set; } = "1";
    public string selectValu8 { get; set; } = "1";
    public string selectValu9 { get; set; } = "1";
    public string selectValu10 { get; set; } = "1";
    public string selectValu11 { get; set; } = "1";
    public string selectValu12 { get; set; } = "1";
    public string selectValu13 { get; set; } = "1";
    public string selectValu14 { get; set; } = "1";
    public string selectValu15 { get; set; } = "1";
    public string selectValu16 { get; set; } = "1";
    public string selectValu17 { get; set; } = "1";
    public string selectValu18 { get; set; } = "1";




    List<string> listAnswers = new List<string>();



    private int Total = 0;
    private int Total2 = 0;



    public string numcuestion = "18";
    public string total = null;
    public string nunca = null;
    public string cn = null;
    public string av = null;
    public string cs = null;
    public string s = null;


    //
    private int AnswerN = 0;
    private int AnswerCN = 0;
    private int AnswerAV = 0;
    private int AnswerCS = 0;
    private int AnswerS = 0;


    private void IncrementCount()
    {
        listAnswers.Add(selectValu1);
        listAnswers.Add(selectValu2);
        listAnswers.Add(selectValu3);
        listAnswers.Add(selectValu4);
        listAnswers.Add(selectValu5);
        listAnswers.Add(selectValu6);
        listAnswers.Add(selectValu7);
        listAnswers.Add(selectValu8);
        listAnswers.Add(selectValu9);
        listAnswers.Add(selectValu10);
        listAnswers.Add(selectValu11);
        listAnswers.Add(selectValu12);
        listAnswers.Add(selectValu13);
        listAnswers.Add(selectValu14);
        listAnswers.Add(selectValu15);
        listAnswers.Add(selectValu16);
        listAnswers.Add(selectValu17);
        listAnswers.Add(selectValu18);




        for (int x = 0; x < 18; x++)
        {

            Total = Total + int.Parse(listAnswers[x]);

            switch (int.Parse(listAnswers[x]))
            {
                case 1:
                    AnswerN++;
                    break;
                case 2:
                    AnswerCN++;
                    break;
                case 3:
                    AnswerAV++;
                    break;
                case 4:
                    AnswerCS++;
                    break;

                case 5:
                    AnswerS++;
                    break;
                default:

                    break;
            }


        }

        Total2 = Total;
        total = Total.ToString();
        nunca = AnswerN.ToString();
        cn = AnswerCN.ToString();
        av = AnswerAV.ToString();
        cs = AnswerCS.ToString();
        s = AnswerS.ToString();



    } }
